
Task - 1 : Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

In [1]:

import pandas as pd
import numpy as np

In [2]:

data = np.random.rand(4, 4)

In [3]:

df = pd.DataFrame(data, columns=['Feature1', 'Feature2', 'Feature3', 'Feature4'])
df

   Feature1  Feature2  Feature3  Feature4
0  0.629277  0.949511  0.116835  0.729308
1  0.159451  0.732716  0.785091  0.766950
2  0.505845  0.525511  0.944532  0.308044
3  0.594240  0.719791  0.686407  0.384480


Task - 2 : Rename the task 1 'df' dataframe column names to 'Random Value 1' , 'Random Value 2' , 'Random Value 3' & 'Random Value 4'

In [4]:

new_column_names = {
    'Feature1': 'Random Value 1',
    'Feature2': 'Random Value 2',
    'Feature3': 'Random Value 3',
    'Feature4': 'Random Value 4'
}
df.rename(columns=new_column_names, inplace=True)
df

   Random Value 1  Random Value 2  Random Value 3  Random Value 4
0        0.629277        0.949511        0.116835        0.729308
1        0.159451        0.732716        0.785091        0.766950
2        0.505845        0.525511        0.944532        0.308044
3        0.594240        0.719791        0.686407        0.384480


Task - 3 : Find the descriptive statistics of the 'df' dataframe

In [5]:

desc_stats = df.describe()
desc_stats

       Random Value 1  Random Value 2  Random Value 3  Random Value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.472203        0.731882        0.633216        0.547196
std          0.214873        0.173300        0.360307        0.234611
min          0.159451        0.525511        0.116835        0.308044
25%          0.419246        0.671221        0.544014        0.365371
50%          0.550043        0.726253        0.735749        0.556894
75%          0.602999        0.786915        0.824951        0.738719
max          0.629277        0.949511        0.944532        0.766950


Task - 4 : Check for the null values in 'df' and find the data type of the columns

In [8]:

df.isnull().any() #returns true if null values are present and false if not present, for each column of df

Random Value 1    False
Random Value 2    False
Random Value 3    False
Random Value 4    False
dtype: bool

In [10]:

df.isnull().sum() #calculates total number of null values in each column of df

Random Value 1    0
Random Value 2    0
Random Value 3    0
Random Value 4    0
dtype: int64

In [11]:

df.dtypes #returns data type of each column

Random Value 1    float64
Random Value 2    float64
Random Value 3    float64
Random Value 4    float64
dtype: object


Task - 5 : Display the 'Random Value 2' and 'Random Value 3' columns with location method and index location method

In [12]:

# Display columns using label-based location method
label_columns = df.loc[:, ['Random Value 2', 'Random Value 3']]
print("Label-based location method:\n", label_columns)

Label-based location method:
    Random Value 2  Random Value 3
0        0.949511        0.116835
1        0.732716        0.785091
2        0.525511        0.944532
3        0.719791        0.686407

In [13]:

# Display columns using index-based location method
index_columns = df.iloc[:, [1, 2]]
print("\nIndex-based location method:\n", index_columns)

Index-based location method:
    Random Value 2  Random Value 3
0        0.949511        0.116835
1        0.732716        0.785091
2        0.525511        0.944532
3        0.719791        0.686407